
h1 {
    font-weight: var(--regular);
}

h2 {
    font-size:      2rem;
    font-weight:    var(--medium);
    color:          var(--color-secondary-medium);
    margin:         0.25em 0;
}

h3 {
    color:           var(--color-secondary-medium);
    padding-bottom:  0.75em;
}



b {
    font-weight:  var(--semibold);
}




/* Main */


main {
    margin:     0 auto;
    padding:    2em 1em;
    max-width:  600pt;
    overflow:   auto;
}

    section {
        flex-grow:         1;
        flex-shrink:       0;
        flex-basis:        32%;
        padding:           2em 0;
        color:             var(--color-secondary-medium);
    }
    
        /* section + section {
            margin-top: 3em;
        } */

        section .title {
            display:          flex;
            align-items:      center;
            justify-content:  space-between;

            padding-bottom: 1em;
        }

        section .block {
            display:           flex;
            flex-direction:    row;
            gap:               1em;

            line-height:       1.5;
            padding:           1em 1.5em;
            border-style:      solid;
            border-width:      4pt;
            border-radius:     1em;
            background-color:  var(--color-secondary-box);
        }

        section .icon {
            font-size: 0.825rem;
            padding: 0.15em;
        }

        section .block + .block {
            margin-top: 0.75em;
        }

        section ul {
            margin:       0 2.5em;
        }

                section li {
                }

                section li + li {
                    margin-top: 0.75em;
                }

        section .workplace {
        }

        section .workplace b {
            font-weight: var(--medium);
        }

        section .subheader {
            margin-top: -1em;
        }

        section .subtype {
            padding-top: 1.5em;
        }

        section .subtype p {
            padding-top: 0.5em;
        }

        section .subtype p + p {
            padding-top: 0.25em;
        }

        section .small {
            text-align: center;
            font-size: 0.75em;
        }





footer {
    background-color:  var(--color-secondary-medium);
    padding:           1em 1.5em 1em 1em;
    position:          sticky;
    position:          -webkit-sticky;
    bottom:            0;
    display:           flex;
    justify-content:   space-between;
    flex-direction:    row;
    flex-wrap:         nowrap;
    align-items:       center;
    align-content:     center;
}

    .contacts {
            margin:           0;
            display:          flex;
            flex-direction:   row;
            flex-wrap:        nowrap;
            justify-content:  center;
            align-items:      center;
            align-content:    center;
            gap:              1em;
            max-width:        20em;
    }

            .contacts a, .contacts a:visited {
                display:          flex;
                align-items:      center;
                gap:              0.5em;
                padding:          0.5em 0.75em;
                color:            var(--color-secondary-box);
                font-weight:      var(--regular);
                font-size:        1rem;
                text-decoration:  none;
                border-radius:    0.5em;
            }

            .contacts a:hover, .contacts a:active {
                text-decoration:  none;
                background-color: var(--color-secondary-darker);
                border-radius:    0.5em;
            }
    
    .button-menu, .button-menu:visited {
        padding:           0.5em 0.75em;
        background-color:  var(--color-secondary-box);
        color:             var(--color-secondary-medium);
        border-radius:     0.5em;
        
        display:           flex;
        align-items:       center;
        gap:               4pt;
        text-align:        center;
        font-weight:       var(--medium);
        font-size:         1rem;
    }

    .button-menu:hover {
        background-color:  var(--color-secondary-darker);
        color:             var(--color-secondary-box);
        text-decoration:   none;
    }

    .button-menu:hover .icon-burger {
        background-image: url(../images/icon-24x24-burger-hover.svg);
    }

    .icon-20 {
        display: inline-block;
        width: 18pt;
        height: 18pt;
        background-size: cover;
    }

    .icon-burger {
        background-image: url(../images/icon-24x24-burger-default.svg);
      }