



/* Main */



main {
    margin:     0 auto;
    padding:    3em 1.5em;
    max-width:  600pt;
    overflow:   auto;
}

    section {
        flex-grow:         1;
        flex-shrink:       0;
        flex-basis:        32%;
        padding:           1.5em 0em;
        color:             var(--color-secondary-medium);
    }
    
        section + section {
            margin-top: 1em;
        }

        section h2 {
            font-size:      2rem;
            font-weight:    var(--medium);
            color:          var(--color-secondary-medium);
            margin:         0.25em 0;
        }

        section h3 {
            color:           var(--color-secondary-medium);
        }

        section h5 {
            padding: 0.25em;
        }

        section b {
            font-weight:  var(--semibold);
        }


        section .title {
            display:          flex;
            align-items:      center;
            justify-content:  space-between;

            padding-bottom: 1em;
        }

        section .button {
            align-self:       flex-start;
            padding:          0.5em 0.75em;
            box-shadow:       0 2pt 4pt hsla(220, 20%, 45%, 0.2);

            background-color: var(--color-secondary-medium);
            border-radius:    0.5em;
            
            text-align:       center;
            color:            var(--color-secondary-box);
            font-weight:      var(--medium);
            font-size:        0.75rem;
        }

        section .button:hover {
            background-color: var(--color-secondary-darker);
            color: var(--color-secondary-box);
            text-decoration-line: none;
        }

        section .block {
            display:           flex;
            flex-direction:    row;
            gap:               0.5em;

            line-height:       1.5;
            padding:           1em;
            border-style:      solid;
            border-width:      4pt;
            border-radius:     0.5em;
            background-color:  var(--color-secondary-box);
        }

        section .block + .block {
            margin-top: 0.75em;
        }

        section ul {
            margin:       0 2.5em;
            /* list-style-image: url('../images/icon-24x24-checkmark.svg'); */
        }

                section li {
                }

                section li + li {
                    margin-top: 0.75em;
                }





footer {
    background-color:  var(--color-secondary-medium);
    padding:           1em;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

    .contacts {
            margin:           0 auto;
            display:          flex;
            flex-direction:   row;
            flex-wrap:        nowrap;
            justify-content:  center;
            align-items:      center;
            align-content:    center;
            gap:              1em;
            max-width:        20em;
    }

            .contacts a {
                display:          flex;
                align-items:      center;
                gap:              0.5em;
                padding:          0.5em 0.75em;
                color:            var(--color-secondary-background);
                font-weight:      var(--regular);
                font-size:        1rem;
                text-decoration:  none;
                /* border-style:     solid;
            
                border-color:     transparent;
                border-width:     1pt; */
                border-radius:    0.5em;
            }

            .contacts a:visited {

            }

            .contacts a:hover {
                text-decoration:  none;
                background-color: var(--color-secondary-darker);
                border-radius:    0.5em;
            }

            .contacts a:active {

            }