


/* Font */




@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');




/* Variables */

:root {

    /* White color and transparency variations */
    --color-lightness:           hsla(0, 0%, 100%, 1);
    --color-lightness-transp-1:  hsla(220, 0%, 100%, 0.01);
    --color-lightness-transp-2:  hsla(220, 0%, 100%, 0.02);
    --color-lightness-transp-5:  hsla(220, 0%, 100%, 0.05);
    --color-lightness-transp-10: hsla(220, 0%, 100%, 0.10);
    --color-lightness-transp-25: hsla(220, 0%, 100%, 0.25);
    --color-lightness-transp-50: hsla(220, 0%, 100%, 0.50);
    --color-lightness-transp-75: hsla(220, 0%, 100%, 0.75);



    --color-darkness:            hsla(0, 100%, 0%, 1);
    --color-darkness-transp-25:  hsla(0, 100%, 0%, 0.25);
    --color-darkness-transp-50:  hsla(0, 100%, 0%, 0.50);
    --color-darkness-transp-75:  hsla(0, 100%, 0%, 0.75);

    --transparent: rgba(255, 255, 255, 0);

    --color-primary-blue-t25:   hsla(230, 90%, 60%, 0.25);
    --color-primary-violet-t25: hsla(270, 90%, 60%, 0.25);
    --color-primary-blue-t75:   hsla(230, 90%, 60%, 0.75);
    --color-primary-violet-t75: hsla(270, 90%, 60%, 0.75);

    --color-primary-blue-darker:    hsla(270, 40%, 15%, 1);
    --color-primary-blue-darkest:   hsla(270, 40%, 5%, 1);


    --color-primary-lightest:  hsla(230, 20%, 95%, 1);
    --color-primary-lighter-2: hsla(230, 20%, 90%, 1);
    --color-primary-lighter-1: hsla(230, 20%, 60%, 1);
    --color-secondary-text:      hsla(230, 15%, 75%, 1);
    --color-secondary-darker-1-t50:  hsla(230, 40%, 15%, 0.5);
    --color-secondary-darker-1:  hsla(230, 40%, 15%, 1);
    --color-secondary-darker-2:  hsla(230, 40%, 8%, 1);
    --color-secondary-darkest:   hsla(230, 40%, 5%, 1);
    --color-secondary-darkest-t50:   hsla(230, 40%, 5%, 0.5);


    --color-tertiary-yellow-bg:     hsla(45, 80%, 97%, 1);
    --color-tertiary-yellow-stroke: hsla(45, 70%, 80%, 1);
    --color-tertiary-blue-bg:       hsla(200, 80%, 97%, 1);
    --color-tertiary-blue-stroke:   hsla(200, 70%, 80%, 1);
    --color-tertiary-green-bg:      hsla(110, 70%, 97%, 1);
    --color-tertiary-green-stroke:  hsla(110, 70%, 80%, 1);
    --color-tertiary-violet-bg:     hsla(250, 70%, 97%, 1);
    --color-tertiary-violet-stroke: hsla(250, 70%, 80%, 1);
    --color-tertiary-red-bg:        hsla(0, 80%, 97%, 1);
    --color-tertiary-red-stroke:    hsla(0, 70%, 80%, 1);


    
    
    /* --font-custom:              "IBM Plex Sans"; */
    --font-system:              system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --thin:                     100;
    --extralight:               200;
    --light:                    300;
    --regular:                  400;
    --medium:                   500;
    --semibold:                 600;
    --bold:                     700;
}




/* Media queries */




:root {
    font-size: 1rem;
}

@media (min-width: 800pt) {
    :root {
        font-size: 1rem;
    }
}

@media (min-width: 1200pt) {
    :root {
        font-size: 1rem;
    }
}




/* Hacks */




:root {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color-scheme: dark;  /* Dark scrollbar */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


*,
::before,
::after {
	box-sizing: inherit;
}

body {
    margin:            0;
    width:             100%;
    background-color:  var(--color-secondary-darkest);
    font-family:       var(--font-custom), var(--font-system);
    font-size:         1.0625rem;
    font-weight:       var(--medium);
    color:             var(--color-secondary-text);
    letter-spacing:    0.0125em;
    /* line-height:       calc(10 / 7); */
    line-height:       1.5em;
    text-rendering:    optimizelegibility;
    text-size-adjust:  none;
    overflow-x:        hidden;
}

body * + * {
	margin-top: 0;
}

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}




/* Text sizes */




h1 {
    color: var(--color-primary-lightest);
    font-size: 3.5rem;
    font-weight: var(--medium);
    letter-spacing: -0.75pt;
}

h2 {
    color: var(--color-primary-lightest);
    font-size: 2rem;
    font-weight: var(--medium);
    letter-spacing: -0.25pt;
}

h3 {
    color: var(--color-primary-lightest);
    font-size: 1.5rem;
    font-weight: var(--medium);
    letter-spacing: -0.25pt;
}

h4 {
    color: var(--color-primary-lightest);
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: -0.125pt;
}

h5 {
    color: var(--color-primary-lightest);
    font-size: 0.75rem;
    font-weight: var(--medium);
    text-transform: uppercase;
    letter-spacing: 0.5pt;
}

p {
    color: var(--color-primary-lightest);
    font-size: 1rem;
    font-weight: var(--regular);
}

ul {
    font-weight: var(--regular);
}




/* Text styles: Links */




a {
    color: var(--color-secondary-text);
    text-decoration-line: none;
}

a:link {
}

a:visited {
}

a:hover {
    /* color: var(--color-secondary-text);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-text);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt; */
}

a:active {
}

p > a, li > a {
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-lightest);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt;

}

p > a:hover, li > a:hover {
    color: var(--color-secondary-text);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-text);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt;
}




/* Helpers: Opacity */




.opacity10 {
    opacity: 10%;
}

.opacity30 {
    opacity: 30%;
}

.opacity50 {
    opacity: 50%;
}

.opacity70 {
    opacity: 70%;
}

.opacity90 {
    opacity: 90%;
}