/* Variables */
:root {

    /* White + Transparency variations */
    --color--white--t0:     hsla(230, 0%, 100%, 0);
    --color--white--t1:     hsla(230, 0%, 100%, 0.01);
    --color--white--t2:     hsla(230, 0%, 100%, 0.02);
    --color--white--t5:     hsla(230, 0%, 100%, 0.05);
    --color--white--t10:    hsla(230, 0%, 100%, 0.1);
    --color--white--t25:    hsla(230, 0%, 100%, 0.25);
    --color--white--t50:    hsla(230, 0%, 100%, 0.5);
    --color--white--t75:    hsla(230, 0%, 100%, 0.75);
    --color--white--t100:   hsla(230, 0%, 100%, 1);

    /* Black + Transparency variations */
    --color--black--t25:    hsla(230, 100%, 0%, 0.25);
    --color--black--t50:    hsla(230, 100%, 0%, 0.50);
    --color--black--t75:    hsla(230, 100%, 0%, 0.75);
    
    /* Primary blue: Transparency variations */
    --color--primary--t25:  hsla(230, 90%, 60%, 0.25);
    --color--primary--t75:  hsla(230, 90%, 60%, 0.75);
    --color--primary--t100: hsla(230, 90%, 60%, 1);

    /* Tertiary blue: Shades */
    --color--primary--t100--l95: hsla(230, 15%, 95%, 1);
    --color--primary--t100--l90: hsla(230, 15%, 90%, 1);
    --color--primary--t100--l75: hsla(230, 15%, 75%, 1);
    --color--primary--t100--l60: hsla(230, 15%, 60%, 1);
    --color--primary--t100--l15: hsla(230, 40%, 15%, 1);
    --color--primary--t100--l15: hsla(230, 40%, 15%, 1);
    --color--primary--t50--l15:  hsla(230, 40%, 15%, 0.5);
    --color--primary--t100--l8:  hsla(230, 40%, 8%, 1);
    --color--primary--t100--l5:  hsla(230, 40%, 5%, 1);
    --color--primary--t50--l5:   hsla(230, 40%, 5%, 0.5);

    /* Secondary violet + Transparency variations */
    --color--secondary--t25:   hsla(270, 90%, 60%, 0.25);
    --color--secondary--t75:   hsla(270, 90%, 60%, 0.75);
    --color--secondary--t100:  hsla(270, 90%, 60%, 1);

    /* Tertiary colors */
    --color-tertiary-yellow-bg:     hsla(45, 80%, 97%, 1);
    --color-tertiary-yellow-stroke: hsla(45, 70%, 80%, 1);
    --color-tertiary-blue-bg:       hsla(200, 80%, 97%, 1);
    --color-tertiary-blue-stroke:   hsla(200, 70%, 80%, 1);
    --color-tertiary-green-bg:      hsla(110, 70%, 97%, 1);
    --color-tertiary-green-stroke:  hsla(110, 70%, 80%, 1);
    --color-tertiary-violet-bg:     hsla(250, 70%, 97%, 1);
    --color-tertiary-violet-stroke: hsla(250, 70%, 80%, 1);
    --color-tertiary-red-bg:        hsla(0, 80%, 97%, 1);
    --color-tertiary-red-stroke:    hsla(0, 70%, 80%, 1);

    /* Fonts */
    /* --font-custom:              "IBM Plex Sans"; */
    --font-system:              system-ui, "SF Pro", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Font weights */
    --thin:                     100;
    --extralight:               200;
    --light:                    300;
    --regular:                  400;
    --medium:                   500;
    --semibold:                 600;
    --bold:                     700;
}




/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');




/* Media queries */
:root {
    font-size: 1rem;
}

@media (min-width: 800pt) {
    :root {
        font-size: 1rem;
    }
}

@media (min-width: 1200pt) {
    :root {
        font-size: 1rem;
    }
}




/* Hacks */
:root {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color-scheme: dark;  /* Dark scrollbar */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
    margin:            0;
    width:             100%;
    background-color:  var(--color-secondary-darkest);
    font-family:       var(--font-system);
    font-size:         1.0625rem;
    font-weight:       var(--medium);
    color:             var(--color-secondary-text);
    letter-spacing:    0.0125em;
    /* line-height:       calc(10 / 7); */
    line-height:       1.5em;
    text-rendering:    optimizelegibility;
    text-size-adjust:  none;
    overflow-x:        hidden;
}

body * + * {
	margin-top: 0;
}

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}




/* Text styles */
h1 {
    color: var(--color-primary-lightest);
    font-size: 3.5rem;
    line-height: calc(3.5rem * 1.15);
    font-weight: var(--medium);
    letter-spacing: -0.75pt;
}

h2 {
    color: var(--color-primary-lightest);
    font-size: 2rem;
    font-weight: var(--medium);
    letter-spacing: -0.25pt;
}

h3 {
    color: var(--color-primary-lightest);
    font-size: 1.5rem;
    font-weight: var(--medium);
    letter-spacing: -0.25pt;
}

h4 {
    color: var(--color-primary-lightest);
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: -0.125pt;
}

h5 {
    color: var(--color-primary-lightest);
    font-size: 0.75rem;
    font-weight: var(--medium);
    text-transform: uppercase;
    letter-spacing: 0.5pt;
}

p {
    color: var(--color-primary-lightest);
    font-size: 1rem;
    font-weight: var(--regular);
}

ul {
    font-weight: var(--regular);
}




/* Text styles: Links */
a {
    color: var(--color-secondary-text);
    text-decoration-line: none;
}

a:link {
}

a:visited {
}

a:hover {
    /* color: var(--color-secondary-text);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-text);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt; */
}

a:active {
}

p > a, li > a {
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-lightest);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt;

}

p > a:hover, li > a:hover {
    color: var(--color-secondary-text);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-text);
    text-decoration-style: solid;
    text-decoration-thickness: 2pt;
}




/* Helpers: Opacity */
.opacity10 {
    opacity: 10%;
}

.opacity30 {
    opacity: 30%;
}

.opacity50 {
    opacity: 50%;
}

.opacity70 {
    opacity: 70%;
}

.opacity90 {
    opacity: 90%;
}