



/* Header section */




header {
    height:              100vh;
    background-image:    url("../images/hero-portfolio.svg");
    background-position: top;
    background-size:     cover;
    padding:             25vh 15vw;
}

        header h1 {
            color:            var(--color-lightness);
            margin:           1em 0;
            display:          flex;
	        flex-direction:   row;
	        flex-wrap:        nowrap;
        	align-items:      flex-start;
        	align-content:    flex-end;
        	gap:              4pt;
        }

        .tag {
        	font-size:        0.5rem;
            letter-spacing:   0.5pt;
        	font-weight:      var(--regular);
        	color:            var(--color-lightness);
        	border-width:     1pt;
        	border-style:     solid;
        	border-color:     var(--color-lightness);
        	border-radius:    4pt;
        	padding:          2pt 3pt 2pt 4pt;
        }

        header h4 {
            color: var(--color-lightness);
            font-weight: var(--regular);
            margin-bottom: 1.5em;
        }

        header p {
            color: var(--color-lightness);
        }

        header p + p {
            margin-top: 0.5em;
        }




/* Main section */




main {
    margin:     0 auto;
    padding:    3em 1.5em;
    max-width:  600pt;
    overflow:   auto;
}

        .featured {
            padding: 3em 0;
        }

                .featured h2 {
                    color:          var(--color-secondary-medium);
                    margin-bottom:  1em;
                }

                .container-featured {
                    display:           flex;
                    flex-direction:    column;
                    flex-wrap:         nowrap;
                    align-items:       stretch;
                    gap:               1em;
                }

                    .container-featured .item {
                        flex-grow:         1;
                        flex-shrink:       0;
                        flex-basis:        32%;
                        border-radius:     0.5em;
                        background-color:  var(--color-secondary-box);
                        padding:           1.5em 2em;
                    }

                    .container-featured h4 {
                        color: var(--color-secondary-medium);
                    }

                    .container-featured p {
                        color:        var(--color-secondary-medium);
                        font-weight:  var(--regular);
                        margin-top:   0.5em;
                    }

                    .container-featured p + p {
                        margin-top: 0.25em;
                    }

                    .container-featured span {
                        background-color: var(--color-secondary-box);
                        color: var(--color-secondary);
                        display: inline-block;
                        padding: 0.5em 0.75em;
                        border-color: var(--color-secondary-background);
                        border-radius: 0.5em;
                        border-style: solid;
                        border-width: 1pt;
                        font-size: 0.75em;
                        margin-top: 1em;
                    }



        .button {
            display:          flex;
            justify-content:  center;
            align-items:      center;
            gap:              0.5em;
            width:            100%;
            margin:           3em 0;
            padding:          1em 0.75em;
            box-shadow:       0 2pt 4pt hsla(220, 20%, 45%, 0.2);

            background-color: var(--color-secondary-darkest);
            border-radius:    0.5em;
            
            text-align:       center;
            color:            var(--color-secondary-box);
            font-weight:      var(--medium);
            font-size:        1rem;
        }

        .button:hover {
            background-color: var(--color-secondary-darker);
            color: var(--color-secondary-box);
            text-decoration-line: none;
        }


        .project {
            padding: 3em 0;
        }

                .container-project {
                    display:      flex;
                    flex-wrap:    wrap;
                    align-items:  stretch;
                    gap:          1em;
                }

                .project h2 {
                    color:          var(--color-secondary-medium);
                    margin-bottom:  1em;
                }

                .project h3 {
                    color:          var(--color-secondary);
                    margin-bottom:  0.5em;
                }

                .project h4 {
                    color:          var(--color-secondary-medium);
                    margin-bottom:  0.5em;
                }

                .project h5 {
                    color:          var(--color-secondary);
                    margin-bottom:  0.75em;
                }

                .project p {
                    margin-bottom:  0.5em;
                    line-height:    1.5;
                }

                .project a {
                    font-weight: var(--medium);
                }

                .project b {
                    font-weight: var(--semibold);
                }

                .project .image-block {
                    background-color:  var(--color-lightness-50);
                    margin:            1em auto 1em;
                    padding:           2em;
                    border-radius:     0.5em;
                }

                        .project img {
                            display:    block;
                            max-width:  100%;
                            margin:     0 auto;
                        }

                .project ul {
                    margin-top:       0.5em;
                    padding-left:     2em;
                    list-style-type:  disc;
                    /* list-style-image: url('../images/icon-24x24-checkmark.svg'); */
        }

                        .project li {
                            line-height: 1.5;
                        }

                        .project li + li {
                            margin-top: 0.25em;
                        }

                .project .caption {
                    display:     block;
                    margin:      2em 0 0;
                    font-size:   0.825em;
                    color:       var(--color-secondary);
                }

                .project .image-block .caption {
                    text-align:  center;
                }

                .project .callout {
                    flex-grow:         1;
                    flex-shrink:       1;
                    flex-basis:        45%;
                    min-width:         16em;

                    padding:           1.5em 2em;

                    color:             var(--color-secondary-medium);

                    border-radius:     0.5em;
                }

                        .project .callout p {
                            margin-bottom: 0;
                        }

                        .project .callout li {
                            margin-bottom: 0;
                        }

                        .project .callout-green {
                            background-color:  var(--color-tertiary-green-bg);
                            border-color:      var(--color-tertiary-green-stroke);        
                        }

                        .project .callout-yellow {
                            background-color:  var(--color-tertiary-yellow-bg);
                            border-color:      var(--color-tertiary-yellow-stroke);
                        }

                        .project .callout-blue {
                            background-color:  var(--color-tertiary-blue-bg);
                            border-color:      var(--color-tertiary-blue-stroke);   
                        }

                        .project .callout-violet {
                            background-color:  var(--color-tertiary-violet-bg);
                            border-color:      var(--color-tertiary-violet-stroke);   
                        }

                        .project .callout-red {
                            background-color:  var(--color-tertiary-red-bg);
                            border-color:      var(--color-tertiary-red-stroke);   
                        }

                        .project .callout-white {
                            background-color:  var(--color-lightness);
                            border-color:      var(--color-tertiary-blue-stroke);   
                        }

                        .project .callout-dark {
                            background-color:  var(--color-secondary-darkest);
                            color:             var(--color-secondary-background);
                        }

                .project .process {

                    flex-grow:        1;
                    flex-shrink:      0;
                    flex-basis:       100%;

                    margin-top:       1em;
                    border-radius:    1em;
                    padding:          1em 0;
                    background-color: var(--color-secondary-background);

                    color:            var(--color-secondary-medium);

                    border-style:     none;
                    border-width:     1.25pt;
                    border-color:     var(--color-secondary-lightest);
                    border-radius:    1em;
                }

                        .project .step {
                            margin-top: 0.5em;
                        }

                        .project .step + .step {
                            margin-top: 3em;
                        }




/* Footer section */




footer {
        background-color:  var(--color-secondary-darkest);
        padding:           1em;
}

        .contacts {
                margin:           0 auto;
                display:          flex;
                flex-direction:   column;
                flex-wrap:        nowrap;
                justify-content:  center;
                align-items:      center;
                align-content:    center;
                gap:              1em;
                max-width:        20em;
        }

                .contacts a {
                    display:          flex;
                    align-items:      center;
                    gap:              0.5em;
                    padding:          0.5em 0.75em;
                    color:            var(--color-secondary-background);
                    font-weight:      var(--regular);
                    font-size:        1rem;
                    text-decoration:  none;
                    /* border-style:     solid;
                
                    border-color:     transparent;
                    border-width:     1pt; */
                    border-radius:    0.5em;
                }

                .contacts a:visited {

                }

                .contacts a:hover {
                    text-decoration:  none;
                    background-color: var(--color-secondary-darker);
                    border-radius:    0.5em;
                }

                .contacts a:active {

                }