



/* Header section */




header {
    height:              100vh;
    background-image:    url("assets/body-background.png");
    background-position: top;
    background-size:     cover;
    background-repeat:   no-repeat;
    padding:             1.5em 3em;
}

        header h1 {
            color:            var(--color-lightness);
            margin:           1em 0;
            display:          flex;
	        flex-direction:   row;
	        flex-wrap:        nowrap;
        	align-items:      flex-start;
        	align-content:    flex-end;
        	gap:              4pt;
        }

        .tag {
        	font-size:        0.75rem;
        	font-weight:      var(--medium);
        	color:            var(--color-lightness);
        	border-width:     1pt;
        	border-style:     solid;
        	border-color:     var(--color-lightness);
        	border-radius:    4pt;
        	padding:          2pt 4pt;
        }

        header h4 {
            color: var(--color-lightness);
            opacity: 90%;
            margin-bottom: 1.5em;
        }

        header p {
            color: var(--color-lightness);
            opacity: 70%;
        }

        header p + p {
            margin-top: 0.5em;
        }




/* Main section */




main { }

        .container-main {
            margin:     0 auto;
            padding:    0 1.5em;
            max-width:  800pt;
        }



        .featured {

        }

                .container-featured {
                    display:           flex;
                    flex-wrap:         wrap;
                    align-items:       stretch;
                    gap:               1em;
                }

                .featured .item {
                    flex-grow:         1;
                    flex-shrink:       0;
                    flex-basis:        32%;
                    border-radius:     1em;
                    background-color:  var(--color-secondary-box);
                    padding:           1.5em;
                }

                .featured .item-last {

                }   

                .featured .section {
                    margin:  3em 0 1em;
                }

                .featured h2 {
                    color:   var(--color-secondary);
                    margin:  2em 0 1em;
                }

                .featured h4 {
                    color: var(--color-secondary);
                }

                .featured p {
                    color:        var(--color-secondary);
                    font-weight:  var(--regular);
                    margin-top:   0.5em;
                }

                .featured p + p {
                    margin-top: 0.25em;
                }



        .button {
            display:          inline-block;
            width:            100%;
            margin:           3em 0;
            padding:          0.5em 0.75em;

            background-color: var(--color-secondary-box);
            border-radius:    1em;
            
            text-align:       center;
            color:            var(--color-secondary-text);
            font-weight:      var(--medium);
            font-size:        1rem;
        }


        .project {
            padding-top: 4em;
        }

                .project h2 {
                    color: var(--color-secondary-text);
                    margin-bottom: 1em;
                }

                .project h3 {
                    color:          var(--color-secondary);
                    margin-bottom:  .5em;
                }

                .project h4 {
                    color:   var(--color-secondary-text);
                    margin-bottom: .5em;
                }

                .project h5 {
                    font-weight:    var(--medium);
                    color:          var(--color-secondary);
                    margin-bottom:  0.5em;
                }

                .project img {
                    display: block;
                    max-width: 100%;
                    /* margin: 0 auto; */
                }

                .project ul {
                    padding: 0 0 0.5em 2em;
                    list-style-type: disc;
                    /* list-style-image: url('sqpurple.gif'); */
                }

                .project li {
                    margin-top: 0.25em;
                }

                .project .info {
                    display:           flex;
                    flex-wrap:         wrap;
                    align-items:       stretch;
                    gap:               0.5em;
                }

                        .project .info .highlight {

                            flex-grow:         1;
                            flex-shrink:       0;
                            flex-basis:        45%;

                            border-radius:     1em;
                            padding:           1em 1.25em;
                            background-color:  var(--color-secondary-background);

                            color:             var(--color-secondary-text);

                            border-style:     solid;
                            border-width:     1.25pt;
                            border-color:     var(--color-secondary-lightest);
                            border-radius:    1em;
                        }

                        .project .process {

                            flex-grow:         1;
                            flex-shrink:       0;
                            flex-basis:        100%;

                            border-radius:     1em;
                            padding:           1em 0;
                            background-color:  var(--color-secondary-background);

                            color:             var(--color-secondary-text);

                            border-style:     none;
                            border-width:     1.25pt;
                            border-color:     var(--color-secondary-lightest);
                            border-radius:    1em;
                        }

                        .project .step + .step {
                            margin-top: 3em;
                        }




/* Footer section */




footer {
        background-color:  var(--color-secondary-text);
        padding:           1em;
}

        .contacts {
                display:          flex;
                flex-wrap:        wrap;
                justify-content:  center;
                align-items:      center;
                gap:              1em;
        }

                .contacts a {
                    display:          flex;
                    align-items:      center;
                    gap:              0.5em;
                    padding:          0.5em 0.75em;
                    color:            var(--color-secondary-background);
                    font-weight:      var(--medium);
                    font-size:        1rem;
                    text-decoration:  none;
                    border-style:     solid;
                    border-color:     transparent;
                    border-width:     2pt;
                    border-radius:    2em;
                }

                .contacts a:visited {

                }

                .contacts a:hover {
                    text-decoration:  none;
                    border-style:     solid;
                    border-color:     var(--color-secondary-background);
                    border-width:     2pt;
                    border-radius:    2em;
                }

                .contacts a:active {

                }