



/* Header section */




header {
    height:              100vh;
    background-image:    url("assets/body-background.png");
    background-position: top;
    background-size:     cover;
    background-repeat:   no-repeat;
    padding:             1.5em 15vw;
}

        header h1 {
            color:            var(--color-lightness);
            margin:           1em 0;
            display:          flex;
	        flex-direction:   row;
	        flex-wrap:        nowrap;
        	align-items:      flex-start;
        	align-content:    flex-end;
        	gap:              4pt;
        }

        .tag {
        	font-size:        0.75rem;
            letter-spacing:   0.5pt;
        	font-weight:      var(--medium);
        	color:            var(--color-lightness);
        	border-width:     1pt;
        	border-style:     solid;
        	border-color:     var(--color-lightness);
        	border-radius:    4pt;
        	padding:          2pt 4pt;
        }

        header h4 {
            color: var(--color-lightness);
            font-weight: var(--regular);
            margin-bottom: 1.5em;
        }

        header p {
            color: var(--color-lightness);
        }

        header p + p {
            margin-top: 0.5em;
        }




/* Main section */




main { }

        .container-main {
            margin:     0 auto;
            padding:    0 1.5em;
            max-width:  640pt;
        }



        .featured {
            margin-top: 3em;
        }

                .container-featured {
                    display:           flex;
                    flex-wrap:         wrap;
                    align-items:       stretch;
                    gap:               1em;
                }

                .featured .item {
                    flex-grow:         1;
                    flex-shrink:       0;
                    flex-basis:        32%;
                    border-radius:     1em;
                    background-color:  var(--color-secondary-box);
                    padding:           1.5em;
                }

                .featured .item-last {

                }   

                .featured .section {
                    margin:  3em 0 1em;
                }

                .featured h2 {
                    color:          var(--color-secondary);
                    margin-bottom:  0.5em;
                }

                .featured h4 {
                    color: var(--color-secondary);
                }

                .featured p {
                    color:        var(--color-secondary);
                    font-weight:  var(--regular);
                    margin-top:   0.5em;
                }

                .featured p + p {
                    margin-top: 0.25em;
                }



        .button {
            display:          inline-block;
            width:            100%;
            margin:           2em 0;
            padding:          1em 0.75em;
            box-shadow:       0 2pt 4pt hsla(220, 20%, 45%, 0.2);

            background-color: var(--color-secondary-box);
            border-radius:    1em;
            
            text-align:       center;
            color:            var(--color-secondary-text);
            font-weight:      var(--medium);
            font-size:        1rem;
        }


        .project {
            margin-top: 3em;
        }

                .project h2 {
                    color: var(--color-secondary-text);
                }

                .project h3 {
                    color:          var(--color-secondary);
                    margin-bottom:  .5em;
                }

                .project h4 {
                    color:   var(--color-secondary-text);
                }

                .project h5 {
                    color:          var(--color-secondary);
                    margin-bottom:  0.5em;
                }

                .project img {
                    display: block;
                    max-width: 100%;
                    margin: 1em auto;
                }

                .project ul {
                    padding-left:  2em;
                    list-style-type: disc;
                    /* list-style-image: url('sqpurple.gif'); */
                }

                .project li {
                    margin-top: 0.25em;
                }

                .project .caption {
                    display: block;
                    margin-top: 0.5em;
                    font-size: 0.825em;
                    color: var(--color-secondary);
                }

                .container-project {
                    display:           flex;
                    flex-wrap:         wrap;
                    align-items:       stretch;
                    gap:               1em;
                    margin-top:        1.5em;
                }

                        .project .callout {

                            flex-grow:         1;
                            flex-shrink:       1;
                            flex-basis:        45%;
                            max-width:         25em;

                            padding:           1em 1.25em;

                            color:             var(--color-secondary-text);

                            border-style:      solid;
                            border-width:      1.5pt;
                            border-radius:     0.5em;
                        }

                        .callout-green {
                            background-color:  var(--color-tertiary-green-bg);
                            border-color:      var(--color-tertiary-green-stroke);        
                        }

                        .callout-yellow {
                            background-color:  var(--color-tertiary-yellow-bg);
                            border-color:      var(--color-tertiary-yellow-stroke);
                        }

                        .callout-blue {
                            background-color:  var(--color-tertiary-blue-bg);
                            border-color:      var(--color-tertiary-blue-stroke);   
                        }

                        .callout-inline {
                            margin-top: 1em;
                        }

                        .project .process {

                            flex-grow:        1;
                            flex-shrink:      0;
                            flex-basis:       100%;

                            margin-top:       1em;
                            border-radius:    1em;
                            padding:          1em 0;
                            background-color: var(--color-secondary-background);

                            color:            var(--color-secondary-text);

                            border-style:     none;
                            border-width:     1.25pt;
                            border-color:     var(--color-secondary-lightest);
                            border-radius:    1em;
                        }

                        .project .step {
                            margin-top: 1.5em;
                        }

                        .project .step + .step {
                            margin-top: 3em;
                        }




/* Footer section */




footer {
        margin-top:        3em;
        background-color:  var(--color-secondary-text);
        padding:           1em;
}

        .contacts {
                display:          flex;
                flex-wrap:        wrap;
                justify-content:  center;
                align-items:      center;
                gap:              1em;
        }

                .contacts a {
                    display:          flex;
                    align-items:      center;
                    gap:              0.5em;
                    padding:          0.5em 0.75em;
                    color:            var(--color-secondary-background);
                    font-weight:      var(--regular);
                    font-size:        1rem;
                    text-decoration:  none;
                    border-style:     solid;
                    border-color:     transparent;
                    border-width:     2pt;
                    border-radius:    2em;
                }

                .contacts a:visited {

                }

                .contacts a:hover {
                    text-decoration:  none;
                    border-style:     solid;
                    border-color:     var(--color-secondary-background);
                    border-width:     2pt;
                    border-radius:    2em;
                }

                .contacts a:active {

                }